<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmb.updatefile.mapper.FileMapper">

    <!-- 活动表名 -->
    <sql id="fileTableName">
        t_file
    </sql>

    <!-- 新增文件 -->
    <insert id="addFile" parameterType="com.cmb.updatefile.domain.entity.FileEntity">
        INSERT INTO
        <include refid="fileTableName"/>
        (
        tuid,`key`,`name`,`type`,`value`,`size`,`access_url`,
        creator_id, creator_name, creator_date,
        modify_id,modify_name,modify_date,is_delete
        )
        VALUE
        (
        #{tuid},#{key},#{name},#{type},#{value},#{size},#{accessUrl},
        #{creatorId}, #{creatorName}, #{creatorDate},
        #{modifyId},#{modifyName},#{modifyDate}, 'N'
        )
    </insert>

    <!-- 获取文件 -->
    <select id="getFileByKey" parameterType="java.lang.String" resultType="com.cmb.updatefile.domain.entity.FileEntity">
        SELECT
        `key` AS "key",
        `name` AS "name",
        `type` AS "type",
        `value` AS "value",
        `size` AS "size",
        `access_url` AS "accessUrl"
        FROM
        <include refid="fileTableName"/> 
        WHERE
        `key` = #{key}
        AND is_delete = 'N'
    </select>

</mapper>